 <div class="hero-img">
    <div class="hero-text">
      <h1>DressCode</h1>
      <p>A LUMS Project blah blah whatever</p>
      <a id="landing-button" href="#items">Find your Cinderella moment.</a>
    </div>
  </div>

