<div class="row h-100 flex-column justify-content-center align-items-center">
  <h1 class="text-center">Thank you for your booking!</h1>
  <img width="400px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0f7xZrCI81eqJ3awywFgwwwL0TMnj2bQLlQ&usqp=CAU" alt="">
</div>