.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.item-card {
  color:white; 
  margin: 20px 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.3) !important;

  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  p {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    
    .brand {
      color:silver;
    }
  }

  &:hover { 
    text-decoration: none;
  }
}
  
.item-description {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.8);
  width: 100%;
}
