.item-grid {
  display: grid;
  grid-gap: 24px;
  height: 80%;

  @media (min-width: 0px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 720px) {
  grid-template-columns: 1fr 1fr 1fr;
  } 
}

.item-card {
  color:white; 
  margin: 20px 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.3) !important;
  transition: transform 0.3s ease;
  height: 100%;

  h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }

  p {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    
    .brand {
      color:silver;
    }
  }

  &:hover { 
    text-decoration: none;
    transform: scale(1.04);
  }
}
  
.item-description {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.8);
  width: 100%;
}
