 <div class="hero-img">
  <%= image_tag("VelvetBanner.jpg", :border=>0, :class => 'top')%>
  <%= image_tag("SmartDress.jpg", :border=>0, :class => 'middle')%>
  <%= image_tag("BlackTieBanner.jpg", :border=>0, :class => 'bottom')%>
    <div class="hero-text">
      <h1 class="mb-4">DressCode</h1>
      <%# <p>A LUMS Project blah blah whatever</p> %>
      <a onclick="smoothScroll('items')" id="landing-button">Find your Cinderella Moment</a>
    </div>
  </div>
